@use "./variables" as *;

header {
  // width: 100%;
    height: 70vh;
    background-image: url("../../assets/header-2.jpg");
    background-size: cover;
    background-position-x: center;
    width: 100vw;
    .logo {
        position: relative;
        .brand {
            margin-top: 10vh;
            flex-wrap: nowrap;
            text-transform: uppercase;
            font-size: 12.2rem;
            color: $white;
            .spice {
                position: absolute;
                top: 70%;
                left: 20%;
            }
            .details {
                font-family: $spice;
                color: $white;
                font-weight: 300;
                font-size: 2.5rem;
                color: $details;
                position: absolute;
                top: 155%;
                left: 22%;
          }
    }
  }

  .mobile-nav,
  .mobile-menu, 
  .bar {
    display: none;
  }
}

nav {
  ul {
    font-family: $spice;
    padding: 2rem;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    gap: 3rem;
    li {
      list-style: none;
      a {
        color: $details;
        text-decoration: none;
        text-transform: capitalize;
      &:hover {
        border-bottom: 1px $details solid;
      }
      }
    }
  }
}
