@use "./variables" as *;

main {
  #about {
    background-color: $secondary;
  }
}

.about {
  display: flex;
  gap: 2rem;
  padding: 2rem 2rem;
  .about-img {
    width: 30%;
    height: auto;
    img {
        width: 100%;
    }
  }
  .about-text {
    width: 70%;
    // line-height: ;
    h2 {
      text-transform: uppercase;
      margin-bottom: 1rem;
      font-size: 1.5;

      // margin: ;
    }
    p {
      margin-bottom: 1rem;
    }
    button {
    }
  }
}
