@use "./variables" as *;

#about {
  background-color: $secondary;

  .about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0rem;

    .about-img {
      width: 30%;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .about-text {
      font-size: 1.5rem;
      width: 65%;

      h2 {
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 3%;
      }

      p {
        margin-bottom: 3%;
        font-size: 100%;
        font-family: $spice;
        line-height: 2rem;
        font-weight: 300;
      }

      button {
        @include aro-button;
      }
    }
  }
}

#collection {
  display: flex;
  justify-content: center; /* Center the flex items horizontally */
  align-items: center; /* Center the flex items vertically */
  height: 40vh;
  .wrapper {
    p {
      text-align: center;
      font-size: 3rem;
      padding: 3rem 0rem;
    }
    .img-collection {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2vh;
      img {
        max-width: 30%;
        height: auto;
      }
    }
  }
}

#page-break {
  background-color: $secondary;

  .wrapper {
    height: 15vh;
    display: flex;
    justify-content: space-evenly; /* Center the flex items horizontally */
    align-items: center; /* Center the flex items vertically */

    a {
      font-size: 2rem;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      i {
        padding: 0.5rem 0rem;
        font-size: 3rem;
        color: $details;
      }
    }
  }
}

#promo {
  .top-row,
  .bottom-row {
    display: flex;
    align-items: center;
    height: 50%;

    .row-text1,
    .row-text2 {
      font-size: 1.5rem;
      max-width: 50%;
      padding-left: 10%;
      padding-right: 10%;

      h2 {
        margin-bottom: 5%;
        font-weight: 300;
        text-transform: uppercase;
      }

      p {
        margin-bottom: 5%;
        font-size: 100%;
        font-family: $spice;
        line-height: 2rem;
        font-weight: 300;
      }

      button {
        @include aro-button;
      }
    }

    .top-row-img,
    .bottom-row-img {
      width: 100%;
      object-fit: cover;
      height: 100%;

      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
  }
}

#contact {
  background-color: $secondary;
  color: $white;
  font-size: 2rem;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20vh;

    .footer-menu {
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style: none;
          a {
            color: $white;
            font-size: 2rem;
            text-align: left;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
              border-bottom: 1px yellow solid;
            }
          }
        }
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 0;
      p {
        font-size: 1.5rem;
        text-align: center;
        padding: 1rem;
      }
      h3 {
        font-weight: normal;
        text-align: center;
        font-size: 2rem;
        margin: 0;
        text-transform: uppercase;
      }

      form {
        display: flex;

        label {
        }

        input {
          padding: 0rem 2rem;
          text-transform: capitalize;
          font-size: 1.5rem;
          width: 100%;
          height: auto;
          border: none;
        }
        .submitButton {
          color: $white;
          text-transform: uppercase;
          background: black;
          border: none;
          font-size: 1.5rem;
          padding: 1rem 2rem 1rem 2rem;

          &:hover {
            background: $primary;
            transition: .5s;
            color: yellow;
          }
        }
      }
    }

    .address {
      font-style: normal;
      text-align: right;
      a {
        color: $white;
        text-decoration: none;
      }
      h3 {
        font-weight: normal;
        margin: 0;
      }
    }
  }
}

footer {
  p {
    padding: 1.5rem;
    text-align: center;
    height: 1.5vh;
    font-size: 1rem;
  }
}