/* ------------------------------ Color Palette ----------------------------- */

$primary: #201e21;
$secondary: #14171f;
$details: #faba63;
$white: #FFF;

/* ---------------------------- Text Style Catalog --------------------------- */

$baseFont: "Italiana", serif;
$spice: "Lato", sans-serif;
